<div class="home-video-wrapper">
  <%= video_tag "home_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video blur brightness"%>
  <p class="line-1 anim-typewriter">Welcome to</p>
  <h1 class="home"> <span>WeSurf</span><span>→</span></h1>
</div>
