<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?surf);">
  <div class="container">
    <h1>WeSurf</h1>
    <p>anytime, anywhere</p>
    <p>ICI : SEARCHBAR</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @boards.each do |board| %>
      <div class="card-trip">
        <%= cl_image_tag board.photo.key, alt: "SURFBOARD" %>
        <div class="card-trip-infos">
          <div>
            <%= link_to board.name, board_path(board)%>
            <h2> <%= board.description %> </h2>
          </div>
          <h2 class="card-trip-pricing"><%= board.price %>€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>

