.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-trip h2, a {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.card-trip .card-trip-infos {
  padding: 10px 15px 16px 15px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing {
  position: absolute;
  top: -185px;
  font-size: 13px;
  background-color: black;
  padding: 5px 15px;
  border-radius: 25px;
  opacity: .7;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  em {
    font-size: 10px;
  }
}

.cards {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
