.nav-item h3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.nav-link {
  font-size: 18px;
  font-weight: lighter;
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home-navbar {
  opacity: 1;
}

.nav-item {
  align-items: center;
  display: flex;
}
